$one: rgb(0, 30, 191);
$two: rgb(27, 110, 27);
$three: rgb(206, 11, 11);
$four: rgb(2, 15, 120);
$five: rgb(100, 10, 10);
$six: rgb(230, 80, 110);
$seven: rgb(250, 240, 110);
$eight: rgb(90, 230, 210);

.app {
  text-align: center;
}

.difficulty {
  display: grid;
  align-items: center;
  justify-content: center;

  &__selector {
    width: 500px;
    padding-top: 35vh
  }
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;

  .progress {
    width: 200px;
    border: 1px solid grey;
    background-color: #e8e8e8;

    dl {
      grid-template-columns: 1fr 5fr;
      display: grid;
      margin: 5px;

      dt {
        font-style: italic;
      }

      dd {
        font-size: 20px;
      }
    }
  }

  .timer {
    margin: 10px;
    border: 2px solid #773d00;
    font-size: 20px;
    width: 50px;
    text-align: center;
    background-color: #ad9c7c;
    color: #ffe875;

    &.won {
      background-color: #67a767;
      border-color: #9ff55e;
    }
  }
  .timer-blank {
    height: 47px;
  }

  .board {
    .row {
      display: flex;
      flex-direction: row;
    }

    .cell {
      display: flex;
      flex-direction: column;
      width: 16px;
      height: 16px;
      margin: 1px;
      border: 1px solid rgb(228, 228, 228);

      &.raised {
        border: 1px solid rgb(121, 121, 121);
        border-left: 1px solid #b3b3b3;
        border-top: 1px solid rgb(233, 233, 233);
      }
      &.flag {
        svg {
          color: rgb(207, 31, 31);
          font-size: 11px;
          padding: 2px;
          background-color: rgb(222, 240, 251);
        }
      }

      &.bomb {
        svg {
          filter: drop-shadow(0px 0px 6px #fb0000);
          color: #271706;
        }
      }

      &.empty {
        border: 1px solid rgb(77, 208, 248);
        background-color: rgba(77, 208, 248, 0.356);
      }
      &.one {
        font-weight: bold;
        color: $one;
      }
      &.two {
        font-weight: bold;
        color: $two;
      }
      &.three {
        font-weight: bold;
        color: $three;
      }
      &.four {
        font-weight: bold;
        color: $four;
      }
      &.five {
        font-weight: bold;
        color: $five;
      }
      &.six {
        font-weight: bold;
        color: $six;
      }
      &.seven {
        font-weight: bold;
        color: $seven;
      }
      &.either {
        font-weight: bold;
        color: $eight;
      }
    }

    .detonate {
      svg {
        border-radius: 15px;
        animation: detonate 0.8s;

        // Final state
        color: rgba(34, 34, 34, 0.472);
        box-shadow: 0 0 25px 5px rgb(0, 0, 0);
        background-color: rgba(41, 40, 40, 0.671);
      }
    }
  }
}

@keyframes detonate {
  0% {
    color: rgb(255, 0, 0);
    box-shadow: 0 0 1px 1px rgb(255, 0, 0);
    background-color: rgb(255, 123, 0);
  }

  25% {
    color: rgb(255, 51, 0);
    box-shadow: 0 0 7px 3px rgb(255, 115, 0);
    background-color: rgb(255, 102, 0);
  }

  60% {
    color: rgb(255, 157, 0);
    box-shadow: 0 0 15px 5px rgb(255, 157, 0);
    background-color: rgb(255, 179, 0);
  }

  100% {
    color: rgba(34, 34, 34, 0.472);
    box-shadow: 0 0 25px 5px rgb(0, 0, 0);
    background-color: rgba(41, 40, 40, 0.671);
  }
}
